[submodule "DynamicTTree"]
	path = DynamicTTree
	url = https://github.com/simonepigazzini/DynamicTTree.git
[submodule "CfgManager"]
	path = CfgManager
	url = https://github.com/simonepigazzini/CfgManager.git
